<div class="flex items-center justify-center">
  <div class="p-5 w-full flex flex-col items-center pt-10 max-w-2xl gsap-contenido"> 
      <h1 class="text-center text-6xl"> Buscador de fichas </h1>
      <input (keyup.enter)="buscarFicha()" [(ngModel)]="dni" type="text" placeholder="Ingresar DNI" class="px-2 py-3 border text-center border-gray-400 rounded shadow mt-10 focus:outline-none w-1/2 text-xl">
      <button (click)="buscarFicha()" class="mt-10 p-2 py-3  text-2xl w-1/2 focus:outline-none bg-secondaryColor rounded text-white"> Buscar </button>  
      <img class="mt-10" src="assets/img/buscar-ficha/buscar-ficha.svg" alt="buscar-ficha.img">  
  </div> 
</div>
