<div class="p-4 gsap-contenido md:justify-center w-full md:flex">
    <div class="border max-w-xl border-gray-200 w-full md:w-1/2 shadow rounded">

        <h1 class="text-2xl p-2 bg-primary-800 text-white text-center rounded-t"> Datos de usuario </h1>

        <div *ngIf="usuarioLogin" class="p-4">

            <!-- Avatar -->
            <div class="mt-3 text-center">
                <div *ngIf="usuarioLogin?.role === 'ADMIN_ROLE'" class="bg-blue-100 mr-auto ml-auto rounded-full flex items-center justify-center w-24 h-24 shadow border border-blue-200">
                    <p class="text-4xl font-semibold text-blue-800"> R </p>
                </div>
                <div *ngIf="usuarioLogin?.role === 'DOCTOR_ROLE'" class="bg-green-100 mr-auto ml-auto rounded-full flex items-center justify-center w-24 h-24 shadow border border-green-200">
                    <p class="text-4xl font-semibold text-green-800"> M </p>
                </div>
                <div *ngIf="usuarioLogin?.role === 'MEDICAMENTOS_ROLE'" class="bg-yellow-100 mr-auto ml-auto rounded-full flex items-center justify-center w-24 h-24 shadow border border-yellow-200">
                    <p class="text-4xl font-semibold text-yellow-800"> Mr </p>
                </div>
                <div *ngIf="usuarioLogin?.role === 'ADMINISTRATIVE_ROLE'" class="bg-orange-100 mr-auto ml-auto flex items-center justify-center w-24 h-24 rounded-full shadow border border-orange-200">
                    <p class="text-4xl font-semibold text-orange-800"> A </p>
                </div>
                <p *ngIf="usuarioLogin?.role === 'ADMIN_ROLE'" class="mt-1 text-sm text-blue-800"> Usuario root </p>
                <p *ngIf="usuarioLogin?.role === 'DOCTOR_ROLE'" class="mt-1 text-sm text-green-800"> Usuario médico </p>
                <p *ngIf="usuarioLogin?.role === 'ADMINISTRATIVE_ROLE'" class="mt-1 text-sm text-orange-800"> Usuario administrativo </p>
                <p *ngIf="usuarioLogin?.role === 'MEDICAMENTOS_ROLE'" class="mt-1 text-sm text-yellow-800"> Usuario maestro de recetas </p>

            </div>

            <!-- Datos de usuario -->
            <div class="w-full mt-2">
                <div class="p-2 text-center">
                    <p class="font-semibold text-xl"> Apellido y Nombre </p>
                    <p class="capitalize text-gray-500"> {{ usuarioLogin?.apellido.toLowerCase() }} {{ usuarioLogin?.nombre.toLowerCase() }} </p>
                </div>
                <div class="p-2 text-center mt-1">
                    <p class="font-semibold text-xl"> DNI </p>
                    <p class="text-gray-500"> {{ usuarioLogin?.dni }} </p>
                </div>
                <div class="p-2 text-center mt-1">
                    <p class="font-semibold text-xl"> Correo electrónico </p>
                    <p class="text-gray-500"> {{ usuarioLogin?.email }} </p>
                </div>
                <div class="p-2 text-center mt-1">
                    <p class="font-semibold text-xl"> Fecha de ingreso </p>
                    <p class="text-gray-500"> {{ usuarioLogin?.createdAt | fecha }} </p>
                </div>
            </div>

        </div>
    </div>

    <div class="w-full max-w-xl mt-2 md:mt-0 md:w-1/2 md:ml-2 h-full">
        <div class=" border shadow rounded ">
            <div>
                <h1 class="bg-primary-800 text-white text-center text-xl rounded-t p-2"> Actualizar contraseña </h1>
                <form [formGroup]="passwordForm" (submit)="actualizarPassword()" class="p-2">
                    <div>
                        <p class="font-semibold ml-2"> Nueva contraseña </p>
                        <input formControlName="password" type="password" placeholder="Ingresar contraseña" class="p-2 border-b-2 transform outline-none duration-500 focus:border-secondaryColor focus:outline-none w-full">
                    </div>
                    <div class="mt-2 mb-2">
                        <p class="font-semibold ml-2"> Repetir contraseña </p>
                        <input formControlName="repetir" type="password" placeholder="Repite la contraseña" class="p-2 border-b-2 transform outline-none duration-500 focus:border-secondaryColor focus:outline-none w-full">
                    </div>
                    <app-boton-formulario [deshabilitado]="!passwordForm.valid || (passwordForm.value.password.trim() !== passwordForm.value.repetir.trim())" texto="Actualizar contraseña"></app-boton-formulario>
                </form>
            </div>
        </div>
        <div *ngIf="usuarioLogin?.role === 'DOCTOR_ROLE'" class="border mt-2 shadow">
            <h1 class="p-2 text-xl text-center rounded-t bg-primary-800 text-white"> 
                Días laborales
            </h1>
            <div class="text-sm px-3 py-4 flex flex-wrap justify-center items-center">
                <div (click)="cambiarDia('lunes')" [ngClass]="{'bg-indigo-50 text-secondaryColor border-indigo-300':dias.lunes}" class="p-2 cursor-pointer bg-gray-50 border border-gray-300 rounded font-semibold text-gray-800 w-max"> Lun </div>
                <div (click)="cambiarDia('martes')" [ngClass]="{'bg-indigo-50 text-secondaryColor border-indigo-300':dias.martes}"  class="p-2 cursor-pointer bg-gray-50 border border-gray-300 rounded font-semibold text-gray-800 w-max ml-2"> Mar </div>
                <div (click)="cambiarDia('miércoles')" [ngClass]="{'bg-indigo-50 text-secondaryColor border-indigo-300':dias.miercoles}"  class="p-2 cursor-pointer bg-gray-50 border border-gray-300 rounded font-semibold text-gray-800 w-max ml-2"> Mie </div>
                <div (click)="cambiarDia('jueves')" [ngClass]="{'bg-indigo-50 text-secondaryColor border-indigo-300':dias.jueves}"  class="p-2 cursor-pointer bg-gray-50 border border-gray-300 rounded font-semibold text-gray-800 w-max ml-2"> Jue </div>
                <div (click)="cambiarDia('viernes')" [ngClass]="{'bg-indigo-50 text-secondaryColor border-indigo-300':dias.viernes}"  class="p-2 cursor-pointer bg-gray-50 border border-gray-300 rounded font-semibold text-gray-800 w-max ml-2"> Vie </div>
                <div (click)="cambiarDia('sábado')" [ngClass]="{'bg-indigo-50 text-secondaryColor border-indigo-300':dias.sabado}"  class="p-2 cursor-pointer bg-gray-50 border border-gray-300 rounded font-semibold text-gray-800 w-max ml-2"> Sab </div>
                <div (click)="cambiarDia('domingo')" [ngClass]="{'bg-indigo-50 text-secondaryColor border-indigo-300':dias.domingo}"  class="p-2 cursor-pointer bg-gray-50 border border-gray-300 rounded font-semibold text-gray-800 w-max ml-2"> Dom </div>     
            </div>
            <div class="p-2">
                <button (click)="actualizarDias()" class="bg-gray-100 hover:text-secondaryColor text-primary-600 focus:outline-none border border-gray-300 font-semibold p-2 rounded w-full">
                    Actualizar días laborales
                </button>
            </div>
        </div>
    </div>

</div>