<div class="mr-auto ml-auto text-center">
    <div class="md:flex justify-center mt-10">
        <div class="gsap-contenido">
            <img class="w-3/5 mr-auto ml-auto rounded" src="assets/img/home/home.svg" alt="Home">
            <div class="ml-auto mr-auto mt-6">
                <p class="text-2xl font-semibold text-secondaryColor"> Ficha médica digital </p>
                <p class="font-semibold text-gray-800"> Versión 1.0.0 </p>
                <p class="text-gray-800 font-semibold mt-4"> 
                    <a [href]="dir_manual" target="_blank" class="hover:text-secondaryColor text-sm rounded shadow cursor-pointer border bg-gray-100 border-gray-300 p-2">
                        Descargar manual de usuario 
                    </a>
                </p>
                <br>
            </div>
        </div>
    </div>
    <br>
    <br>
</div>