<!-- Modal: Nuevo turno / Editar turno -->
<app-modal [showModal]="showModal">
  <div class="flex items-center rounded-t bg-primary-800 justify-between">
    <h1 class="p-2 text-lg text-white rounded-t"> {{ tipoAccion === 'crear' ? 'Creando nuevo turno' : 'Actualizando turno' }} </h1>
    <svg (click)="showModal = false" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-lg text-white mr-2 cursor-pointer" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
    </svg>    
  </div>
  <div class="p-2">
    <div class="mt-2">
      <p class="font-semibold text-sm"> <span class="text-red-500"> * </span> Fecha y hora del turno </p>
      <div class="flex items-center mt-2">
        <input (keyup.enter)="tipoAccion == 'crear' ? nuevoTurno() : actualizarTurno()" [(ngModel)]="fecha" class="w-1/2 border focus:outline-none text-sm border-gray-300 p-2" type="date">
        <input (keyup.enter)="tipoAccion == 'crear' ? nuevoTurno() : actualizarTurno()" [(ngModel)]="hora" class="w-max border focus:outline-none text-sm border-gray-300 p-2 ml-2" type="time">
      </div>
    </div>
    <div class="mt-4">
      <p class="font-semibold text-sm"> <span class="text-red-500"> * </span> Paciente </p>  
      <div *ngIf="!pacienteSeleccionado" class="flex items-center mt-2">
        <input (keyup.enter)="buscarPaciente()" [(ngModel)]="dni" type="text" class="border focus:outline-none border-gray-300 p-2 text-sm rounded" placeholder="Buscar por DNI">
        <button [disabled]="dni.trim() === ''" [ngClass]="{'text-gray-500':dni.trim() === '', 'text-gray-900 hover:text-secondaryColor':dni.trim() !== ''}" (click)="buscarPaciente()" class="border font-semibold border-gray-300 ml-2 text-sm bg-gray-100 rounded p-2 focus:outline-none">
          Buscar paciente
        </button>
      </div>
      <div class="flex items-center mt-2" *ngIf="pacienteSeleccionado">
        <div class="bg-green-700 text-white p-2 rounded w-max text-sm capitalize">
          {{ pacienteSeleccionado?.apellido.toLowerCase() }} {{ pacienteSeleccionado?.nombre.toLowerCase() }} - DNI {{ pacienteSeleccionado.dni}}
        </div>
        <button (click)="pacienteSeleccionado = null" class="p-2 ml-2 rounded border bg-red-700 text-white focus:outline-none">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
          </svg>  
        </button>
      </div>
    </div>
    <div *ngIf="turnoSeleccionado && tipoAccion === 'editar'" class="xl:flex items-center mt-4">
      <div class="xl:w-1/2">
          <p class="font-semibold text-sm"> Fecha de alta </p>
          <div class="border text-sm mt-2 border-gray-300 rounded p-2 bg-gray-100">
              {{ turnoSeleccionado.createdAt | fecha }}
          </div>
      </div>
      <div class="xl:ml-4 xl:w-1/2 mt-4 xl:mt-0">
          <p class="font-semibold text-sm"> Usuario creador </p>
          <div class="border text-sm capitalize mt-2 border-gray-300 rounded p-2 bg-gray-100">
              {{ turnoSeleccionado.creatorUser.apellido.toLowerCase() }} {{ turnoSeleccionado.creatorUser.nombre.toLowerCase() }}
          </div>
      </div>
  </div> 
  <div *ngIf="turnoSeleccionado" class="xl:flex items-center mt-4">
      <div class="xl:w-1/2">
          <p class="font-semibold text-sm"> Ultima modificación </p>
          <div class="border text-sm mt-2 border-gray-300 rounded p-2 bg-gray-100">
              {{ turnoSeleccionado.updatedAt | fecha }}
          </div>
      </div>
      <div class="xl:ml-4 xl:w-1/2 mt-4 xl:mt-0">
          <p class="font-semibold text-sm"> Usuario ultima actualización </p>
          <div class="border text-sm capitalize mt-2 border-gray-300 rounded p-2 bg-gray-100">
              {{ turnoSeleccionado.updatorUser.apellido.toLowerCase() }} {{ turnoSeleccionado.updatorUser.nombre.toLowerCase() }}
          </div>
      </div>
  </div>      
    <button *ngIf="tipoAccion === 'crear'" (click)="nuevoTurno()" class="bg-secondaryColor text-white w-full p-2 focus:outline-none rounded mt-5 mb-1 shadow"> Generar turno </button>
    <button *ngIf="tipoAccion === 'editar'" (click)="actualizarTurno()" class="bg-secondaryColor text-white w-full p-2 focus:outline-none rounded mt-5 mb-1 shadow"> Actualizar turno </button>
  </div>
</app-modal>

<!-- Modal: Detalles -->
<app-modal [showModal]="showModalDetalles">
  <div class="flex items-center rounded-t bg-primary-800 justify-between">
    <div>
      <h1 class="p-2 text-lg text-white rounded-t"> Detalles de turno </h1>
    </div>
    <svg (click)="showModalDetalles = false" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-lg text-white mr-2 cursor-pointer" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
    </svg>    
  </div>
  <div class="p-2">
    <div class="mt-1">
      <p class="font-semibold text-sm"> Fecha y hora del turno </p>
      <div class="flex items-center mt-2">
        <div class="w-1/2 border focus:outline-none text-sm border-gray-300 rounded p-2" > {{ turnoSeleccionado?.fecha_turno | fecha }} </div>
        <div class="border focus:outline-none text-sm border-gray-300 rounded p-2 ml-2" > {{ turnoSeleccionado?.fecha_turno | hora }} hs </div>
      </div>
    </div>
    <div class="mt-2" *ngIf="turnoSeleccionado?.confirmacion">
      <p class="text-sm font-semibold"> Estado de turno </p>
      <h1 class="bg-green-700 text-white mt-1 w-max text-sm p-2 rounded"> Turno confirmado </h1>
    </div>
    <div class="mt-2" *ngIf="turnoSeleccionado?.vencido">
      <p class="text-sm font-semibold"> Estado de turno </p>
      <h1 class="bg-red-700 text-white mt-1 w-max text-sm p-2 rounded"> Turno vencido </h1>
    </div>
    <div class="mt-2">
      <p class="font-semibold text-sm"> Paciente </p>  
      <div class="flex items-center mt-2" *ngIf="pacienteSeleccionado">
        <div class="bg-green-700 text-white p-2 rounded w-max text-sm capitalize">
          {{ pacienteSeleccionado?.apellido.toLowerCase() }} {{ pacienteSeleccionado?.nombre.toLowerCase() }} - DNI {{ pacienteSeleccionado.dni}}
        </div>
      </div>
    </div>
    <div class="xl:flex items-center mt-4">
      <div class="xl:w-1/2">
          <p class="font-semibold text-sm"> Fecha de alta </p>
          <div class="border text-sm mt-2 border-gray-300 rounded p-2 bg-gray-100">
              {{ turnoSeleccionado?.createdAt | fecha }}
          </div>
      </div>
      <div class="xl:ml-4 xl:w-1/2 mt-4 xl:mt-0">
          <p class="font-semibold text-sm"> Usuario creador </p>
          <div class="border text-sm capitalize mt-2 border-gray-300 rounded p-2 bg-gray-100">
              {{ turnoSeleccionado?.creatorUser.apellido.toLowerCase() }} {{ turnoSeleccionado?.creatorUser.nombre.toLowerCase() }}
          </div>
      </div>
  </div> 
  <div class="xl:flex items-center mt-4">
      <div class="xl:w-1/2">
          <p class="font-semibold text-sm"> Ultima modificación </p>
          <div class="border text-sm mt-2 border-gray-300 rounded p-2 bg-gray-100">
              {{ turnoSeleccionado?.updatedAt | fecha }}
          </div>
      </div>
      <div class="xl:ml-4 xl:w-1/2 mt-4 xl:mt-0">
          <p class="font-semibold text-sm"> Usuario ultima actualización </p>
          <div class="border text-sm capitalize mt-2 border-gray-300 rounded p-2 bg-gray-100">
              {{ turnoSeleccionado?.updatorUser.apellido.toLowerCase() }} {{ turnoSeleccionado?.updatorUser.nombre.toLowerCase() }}
          </div>
      </div>
  </div>      
    <button (click)="showModalDetalles = false" class="bg-secondaryColor text-white w-full p-2 focus:outline-none rounded mt-5 mb-1 shadow"> Regresar </button>
  </div>
</app-modal>

<!-- Pagina principal -->
<div class="p-2">
  <div class="mx-auto border shadow w-11/12 mt-4">
    <div class="flex bg-primary-800  items-center justify-between pr-4">
      <div class="p-4 flex items-center text-white rounded-t">
        <div class="flex items-center">
          <div class="py-4 px-6 rounded-full text-3xl font-semibold border shadow border-green-200 text-green-700 bg-green-100">
            M
          </div>
          <div class="ml-2">
            <p class="font-semibold capitalize"> {{ usuario?.apellido.toLowerCase() }} {{ usuario?.nombre.toLowerCase() }} </p>
            <p class="text-white text-sm"> {{ usuario?.tipo_medico._id !== '000000000000000000000000' ? usuario?.tipo_medico.descripcion : 'No especificado' }} </p>
          </div>
        </div>
        <div class="border-l-2 border-white h-full ml-4">
          <h1 class="text-xl text-center ml-4"> LISTADO DE TURNOS </h1>
        </div>
      </div>
      <div>
        <button routerLink="/dashboard/turnos" title="Buscar profesional" class="py-2 px-3 bg-white rounded ml-2 border focus:outline-none hover:text-secondaryColor">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
          </svg>     
        </button>  
        <button *appPermisos="permiso_escritura" (click)="abrirModal('crear')" title="Nuevo turno" class="py-2 px-3 bg-white rounded ml-3 border focus:outline-none hover:text-secondaryColor">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 4v16m8-8H4" />
          </svg>      
        </button>  
      </div>
    </div>
    
    <div class="mt-5 flex items-center px-4">
      <div class="flex items-center">
        <button (click)="modificarFecha('anterior')" title="Dia anterior" class="p-2 rounded border focus:outline-none border-gray-300 hover:text-secondaryColor">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M11 17l-5-5m0 0l5-5m-5 5h12" />
          </svg>        
        </button>
        <input (change)="listarTurnos()" [(ngModel)]="fecha_busqueda" class="border ml-2 text-sm bg-white focus:outline-none border-gray-300 rounded p-2" type="date">
        <button (click)="modificarFecha('proximo')" title="Proximo dia" class="p-2 rounded ml-2 border focus:outline-none border-gray-300 hover:text-secondaryColor">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M13 7l5 5m0 0l-5 5m5-5H6" />
          </svg>    
        </button>
      </div>
      <input [(ngModel)]="filtro.parametro" type="text" class="w-56 border ml-4 rounded text-sm focus:outline-none border-gray-300 p-2" placeholder="DNI, Nro afiliado">  
      <select [(ngModel)]="filtro.estado" class="w-56 border ml-4 rounded text-sm focus:outline-none border-gray-300 p-2">
        <option value=""> Todos </option>
        <option value="confirmados"> Confirmados </option>
        <option value="vencidos"> Vencidos </option>
      </select>
    </div>

    <!-- Tabla de turnos -->
    <div class="mb-5 rounded-t px-4 mt-4">
      <div *ngIf="turnos?.length > 0" class="py-2 overflow-x-auto">
        <div class="inline-block overflow-y-auto min-w-full overflow-hidden">
              <table class="min-w-full leading-normal">
                  <thead>
                      <tr class="bg-gray-100 py-2 border">
                          <th class="px-5 py-2 border-b-2 border-gray-200 text-left text-sm font-semibold text-gray-800 tracking-wider">
                              <div (click)="ordenarPorColumna('fecha_turno')" class="cursor-pointer flex items-center focus:outline-none">
                                  <span> Hora </span>
                                  <span class="ml-2 text-gray-600">    
                                      <svg *ngIf="ordenar.columna == 'fecha_turno' && ordenar.direccion == 1" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>                                   
                                      <svg *ngIf="ordenar.columna == 'fecha_turno' && ordenar.direccion == -1" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-up"><polyline points="18 15 12 9 6 15"></polyline></svg>
                                      <svg *ngIf="ordenar.columna != 'fecha_turno'" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus"><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                                  </span>
                              </div>
                          </th>
                          <th class="px-5 border-b-2 border-gray-200 text-left text-sm font-semibold text-gray-800 tracking-wider">
                            <div (click)="ordenarPorColumna('ficha.apellido')" class="cursor-pointer flex items-center focus:outline-none">
                                <span> Paciente </span>
                                <span class="ml-2 text-gray-600">    
                                    <svg *ngIf="ordenar.columna == 'ficha.apellido' && ordenar.direccion == 1" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>                                   
                                    <svg *ngIf="ordenar.columna == 'ficha.apellido' && ordenar.direccion == -1" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-up"><polyline points="18 15 12 9 6 15"></polyline></svg>
                                    <svg *ngIf="ordenar.columna != 'ficha.apellido'" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus"><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                                </span>
                            </div>
                          </th>
                          <th class="px-5 border-b-2 border-gray-200 text-left text-sm font-semibold text-gray-800 tracking-wider">
                            <div (click)="ordenarPorColumna('ficha.afiliado')" class="cursor-pointer flex items-center focus:outline-none">
                                <span> Nro afiliado </span>
                                <span class="ml-2 text-gray-600">    
                                    <svg *ngIf="ordenar.columna == 'ficha.afiliado' && ordenar.direccion == 1" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>                                   
                                    <svg *ngIf="ordenar.columna == 'ficha.afiliado' && ordenar.direccion == -1" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-up"><polyline points="18 15 12 9 6 15"></polyline></svg>
                                    <svg *ngIf="ordenar.columna != 'ficha.afiliado'" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus"><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                                </span>
                            </div>
                          </th>
                          <th class="px-5 border-b-2 border-gray-200 text-left text-sm font-semibold text-gray-800 tracking-wider">
                            <div (click)="ordenarPorColumna('ficha.dni')" class="cursor-pointer flex items-center focus:outline-none">
                                <span> DNI </span>
                                <span class="ml-2 text-gray-600">    
                                    <svg *ngIf="ordenar.columna == 'ficha.dni' && ordenar.direccion == 1" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>                                   
                                    <svg *ngIf="ordenar.columna == 'ficha.dni' && ordenar.direccion == -1" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-up"><polyline points="18 15 12 9 6 15"></polyline></svg>
                                    <svg *ngIf="ordenar.columna != 'ficha.dni'" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus"><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                                </span>
                            </div>
                          </th>
                          <th class="px-5 border-b-2 border-gray-200 text-left text-sm font-semibold text-gray-800 tracking-wider">
                            <div (click)="ordenarPorColumna('creatorUser.apellido')" class="cursor-pointer flex items-center focus:outline-none">
                                <span> Operador </span>
                                <span class="ml-2 text-gray-600">    
                                    <svg *ngIf="ordenar.columna == 'creatorUser.apellido' && ordenar.direccion == 1" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>                                   
                                    <svg *ngIf="ordenar.columna == 'creatorUser.apellido' && ordenar.direccion == -1" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-up"><polyline points="18 15 12 9 6 15"></polyline></svg>
                                    <svg *ngIf="ordenar.columna != 'creatorUser.apellido'" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus"><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                                </span>
                            </div>
                          </th>
                          <!-- <th class="px-5 border-b-2 border-gray-200 text-left text-sm font-semibold text-gray-800 tracking-wider">
                            <div (click)="ordenarPorColumna('confirmacion')" class="cursor-pointer flex items-center focus:outline-none">
                                <span> Estado </span>
                                <span class="ml-2 text-gray-600">    
                                    <svg *ngIf="ordenar.columna == 'confirmacion' && ordenar.direccion == 1" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>                                   
                                    <svg *ngIf="ordenar.columna == 'confirmacion' && ordenar.direccion == -1" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-up"><polyline points="18 15 12 9 6 15"></polyline></svg>
                                    <svg *ngIf="ordenar.columna != 'confirmacion'" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus"><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                                </span>
                            </div>
                          </th> -->
                          <th *appPermisos="permiso_escritura" class="px-5 border-b-2 border-gray-200 text-center text-sm font-semibold text-gray-800 tracking-wider">
                            <span> Acciones </span>
                          </th>
                      </tr>
                  </thead>
                  <tbody *ngIf="turnos">
                      <tr [ngClass]="{'bg-green-100':turno.confirmacion, 'bg-red-100':turno.vencido }" class="animate__animated animate__fadeIn" *ngFor="let turno of turnos |  filtroTurnos:filtro.parametro:filtro.estado">
                          <td class="px-5 py-2 border-b border-gray-200 text-xs">
                              <p class="text-gray-900 whitespace-no-wrap">
                                  {{ turno.fecha_turno | hora }} hs
                              </p>
                          </td>
                          <td class="px-5 border-b border-gray-200 text-xs">
                            <p class="text-gray-900 whitespace-no-wrap capitalize">
                                {{ turno.ficha.apellido.toLowerCase() }} {{ turno.ficha.nombre.toLowerCase() }}
                            </p>
                          </td>
                          <td class="px-5 border-b border-gray-200 text-xs">
                            <p class="text-gray-900 whitespace-no-wrap capitalize">
                                {{ turno.ficha.nro_afiliado }}
                            </p>
                          </td>
                          <td class="px-5 border-b border-gray-200 text-xs">
                            <p class="text-gray-900 whitespace-no-wrap capitalize">
                                {{ turno.ficha.dni }}
                            </p>
                          </td>
                          <td class="px-5 border-b border-gray-200 text-xs">
                            <p class="text-gray-900 whitespace-no-wrap capitalize">
                                {{ turno.creatorUser.apellido.toLowerCase() }} {{ turno.creatorUser.nombre.toLowerCase()  }}
                            </p>
                          </td>
                          <!-- <td class="px-5 border-b border-gray-200 text-xs">
                            <p class="text-gray-900 whitespace-no-wrap">
                                {{ turno.confirmacion ? 'Confirmado' : 'Pendiente' }}
                            </p>
                          </td> -->
                          <td *appPermisos="permiso_escritura" class="px-5 py-2 flex items-center justify-center border-b border-gray-200 text-xs text-center">
                            <div class="flex items-center ml-2 justify-center text-gray-900 whitespace-no-wrap">
                              <button *ngIf="turno?.activo === true" (click)="confirmarTurno(turno)" class="p-2 border hover:text-green-500 focus:outline-none border-gray-300 rounded" title="Confirmar turno">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                  <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
                                </svg>
                              </button>
                              <button *ngIf="turno?.activo === true" (click)="abrirModal('editar', turno)" class="p-2 border hover:text-secondaryColor focus:outline-none ml-2 border-gray-300 rounded" title="Editar turno">
                                  <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                      <path stroke-linecap="round" stroke-linejoin="round" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
                                  </svg>
                              </button>
                              <button *ngIf="turno?.activo === false" (click)="abrirModalDetalles(turno)" class="p-2 border bg-white hover:text-secondaryColor focus:outline-none ml-2 border-gray-300 rounded" title="Detalles de turno">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                  <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                                  <path stroke-linecap="round" stroke-linejoin="round" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
                                </svg>
                            </button>
                              <div *ngIf="turno?.activo === false" class="p-4"></div>
                            </div>
                      </td>
                      </tr>
                  </tbody>
              </table>
        </div>
      </div>
      <div *ngIf="turnos?.length === 0">
        <p class="text-xl text-gray-700 mt-2"> No hay turnos generados para este dia </p>   
        <button *appPermisos="permiso_escritura" (click)="abrirModal('crear')" class="bg-secondaryColor focus:outline-none text-white text-sm p-2 font-semibold border border-gray-300 shadow focus-outline rounded mt-3"> Agregar primer turno </button> 
      </div>
    </div>
    
  </div>
</div>
