<div class="flex items-center justify-center">
  <div class="mt-20 gsap-contenido">
    <h1 class="text-6xl"> Buscando profesional </h1>
    <select [(ngModel)]="idUsuario" class="border bg-white w-full text-xl focus:outline-none mt-10 border-gray-300 shadow rounded p-3">
      <option value=""> Seleccionar profesional </option>
      <option *ngFor="let usuario of usuarios" [value]="usuario._id"> {{ usuario.apellido }} {{ usuario.nombre }} </option>
    </select>
    <div class="flex items-center justify-center">
      <button (click)="buscarProfesional()" class="mt-10 p-4 text-xl focus:outline-none bg-secondaryColor w-1/2 text-center rounded text-white"> Administrar turnos </button>
    </div>
  </div>
</div>
<div class="flex items-center justify-center mt-10 gsap-contenido">
  <img src="assets/img/turnos/profesional.svg" alt="Profesional.svg">
</div>
